@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {


    --color-primary: #D3D3D3;

    --color-bg-primary: #D3D3D3;


    --color-white-transparent: rgba(255, 255, 255, 0.7);
    --color-black: rgb(0, 0, 0);
}


/* Beginn Utility */
.object-fit-cover {
    object-fit: cover;
}

.color-bg-primary {
    background-color: var(--color-bg-primary);
}

.primary-headline {
    font-size: 40px !important;
}

.secondary-headline {
    font-size: 32px !important;
}

.tertiary-headline {
    font-size: 25px !important;
}

.carousel-main-headline {
    font-size: 70px;
}

.carousel-sub-headline {
    font-size: 50px;
}

/* Ende Utility */



html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: var(--color-white-transparent);
}

a {
    color: var(--color-black) !important;
}

.nav-link:hover,
.sub-nav-link:hover {
    color: var(--color-primary) !important;
}
